<div id="footer" class="container">
  <div class="row">
    <div class="col-md-4">
      <%= link_to image_tag('myapnea/ASAA.png'), 'http://www.sleepapnea.org/' %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag('myapnea/brigham.png'), 'http://www.brighamandwomens.org/' %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag('myapnea/pcornet.png'), 'http://www.pcornet.org/' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <%= link_to 'FAQs', faqs_path %>
      </div>
      <div class="col-md-6">
        <%= link_to 'Privacy Policy', privacy_policy_path %>
      </div>
    </div>
  </div>
</div>
