<div id="footer" class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'myapnea/ASAA.png' %>
    </div>
    <div class="col-md-4">
      <%= image_tag 'myapnea/brigham.png' %>
    </div>
    <div class="col-md-4">
      <%= image_tag 'myapnea/pcornet.png' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
      <ul class="list-unstyled">
        <li>About</li>
        <li><%= link_to 'Team', team_path %></li>
        <li><%= link_to 'Network', network_path %></li>
      </ul>
      </div>
      <div class="col-md-4">
      <ul class="list-unstyled">
        <li>Sapcon</li>
        <li>ASAA</li>
        <li>Brigham &amp; Woman's Hospital</li>
      </ul>
      </div>
      <div class="col-md-4">
      <ul class="list-unstyled">
        <li><%= link_to 'FAQs', faqs_path %></li>
        <li>Privacy Policy</li>
        <li>Connect</li>
      </ul>
      </div>
    </div>
  </div>
</div>
