<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Pi</h1>
    <p>Your personal home for (something catchy about helping with research)</p>
  </div>
</div>
<div class="container">
  <div id="highlights" class="row">
    <div class="col-lg-6">
      <div id="reason-carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#reason-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#reason-carousel" data-slide-to="1" class=""></li>
          <li data-target="#reason-carousel" data-slide-to="2" class=""></li>
          <li data-target="#reason-carousel" data-slide-to="3" class=""></li>
          <li data-target="#reason-carousel" data-slide-to="4" class=""></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "reasons/1.jpg", class: "img-rounded" %>
            <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "reasons/2.jpg" %>
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "reasons/3.jpg" %>
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "reasons/4.jpg" %>
            <div class="carousel-caption">
              <h3>Fourth slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "reasons/5.jpg" %>
            <div class="carousel-caption">
              <h3>Fifth slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#reason-carousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#reason-carousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>


    </div>
    <div id="join-us" class="col-lg-6 <%= @skip_intro ? nil : "link" %>">
      <% if @skip_intro %>
        <%= render partial: "form" %>
      <% else %>
        <%=  render partial: "join" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h4>Many Benefits for You</h4>
      <p>You'll be furious if you don't join, and regret is tough.</p>
    </div>
    <div class="col-lg-4">
      <h4>Valuable Research</h4>
      <p>This research can save lives! How could you not help?</p>

    </div>
    <div class="col-lg-4">
      <h4>Think About the Kids</h4>
      <p>Do they not deserve a brighter future? Of course they do!</p>
    </div>


  </div>
</div>
