<div class="page-header">
  <h1><%= current_user.full_name %>'s Dashboard</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Questionnaires</h2>
    <div id="questionnaires" class="list-group">
      <% QuestionFlow.where(status: "show").each do |qf| %>
        <% if AnswerSession.most_recent(qf.id, current_user.id) and AnswerSession.most_recent(qf.id, current_user.id).completed_answers.length == qf.all_questions.length %>
          <a href="<%= finished_answer_session_path(answer_session_id: AnswerSession.most_recent(qf.id, current_user.id).id) %>" class="list-group-item">
            <h3><%= qf.name %></h3>
            <p><strong>Questionnaire finished!</strong></p>
          </a>
        <% else %>
          <a href="<%= start_answer_session_path(question_flow_id: qf.id) %>" class="list-group-item">
            <h3><%= qf.name %></h3>
            <% if AnswerSession.most_recent(qf.id, current_user.id) %>
              <%= render partial: 'answer_sessions/session_progress', locals: {answer_session: AnswerSession.most_recent(qf.id, current_user.id)} %>
            <% else %>
              <p>Questionnaire not yet started.</p>
              <p><strong>Estimated time commitment:</strong> <%= qf.total_time.ceil %> minutes for <%= qf.all_questions.length %> questions.</p>
            <% end %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <h2>My Profile</h2>
    <div class="btn-group-vertical">
      <%= link_to "Change Email", "", class: 'btn btn-link' %>
      <%= link_to "Change Password", "", class: 'btn btn-link' %>
    </div>
  </div>
</div>
