<div id="dashboard">

<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><%= link_to "Help Guide Sleep Apnea Research!", home_path %></li>
    </ul>

    <ul class="nav nav-sidebar dashboard-target">
      <li class="active"><a data-target="my-sleep" href="#">My Sleep</a></li>
      <li><a data-target="my-surveys" href="#">My Surveys</a></li>
      <li><a data-target="research-qs" href="#">My Research Questions</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li><a href="<%= network_path %>">Our Network</a></li>
      <li><a href="<%= team_path %>">Our Research Team</a></li>
      <li><a href="<%= faqs_path %>">FAQs About Sleep Apnea Research</a></li>
    </ul>
  </div>

  <div class="col-md-10 col-sm-9 col-sm-offset-3 col-md-offset-2 main" id="my-surveys" style="display: none;">
    <h3>My Surveys</h3>
    <div id="questionnaires" class="list-group">
      <% QuestionFlow.where(status: "show").order('id').each do |qf| %>
        <% as = AnswerSession.most_recent(qf.id, current_user.id) %>
        <% if as and as.completed? %>
          <div class="list-group-item">
            <h3><%= qf.name %></h3>
            <p><strong>Questionnaire finished!</strong></p>
            <div>
              <%= link_to 'Review Answers', finished_answer_session_path(answer_session_id: as.id), class: 'btn btn-default btn-sm' %>
              <%= link_to 'Retake Questionnaire', start_answer_session_path(question_flow_id: qf.id), class: 'btn btn-default btn-sm', data: {confirm: "Are you sure you want to retake the questionnaire?", description: "All your progress will be lost, and you'll have complete the questionnaire again."} %>
            </div>
          </div>
        <% else %>
          <%= link_to start_or_resume(qf, as), class: 'list-group-item' do %>
            <h3><%= qf.name %></h3>
            <% if as.present? and as.started? %>
              <%=  render partial: 'answer_sessions/session_progress', locals: {stats: as.calculate_status_stats, question_flow: qf} %>
            <% else %>
              <p>Questionnaire not yet started.</p>
              <p><strong>Estimated time commitment:</strong> <%= qf.total_time.ceil %> minutes for <%= qf.all_questions.length %> questions.</p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-10 col-sm-9 col-sm-offset-3 col-md-offset-2 main" id="my-sleep">
    <div class="col-md-4">
      <h3>My Sleep</h3>
      <p class="text-info">Keep track of your sleep health with daily updates!</p>

      <%= form_tag add_daily_trend_path, {role: 'form', class: "form-inline", remote: false} do %>
        <div class="list-group">
          <% @daily_questions.each do |q| %>
            <div class="list-group-item">
            <div class="form-group">
              <label for="<%= q.id %>"><%= q.text %></label>
              <% if q.question_type.id == 6 %>
                <input type="number" class="form-control" id="<%= q.id %>" name="questions[<%= q.id %>]">
              <% else %>
                  <% if false #q.answer_options.each do |ao| %>
                    <label class="radio-inline">
                      <input type="radio" name="questions[<%= q.id %>]" id="<%= q.id %>" value="<%= ao.id %>"> <%= ao.value(:numeric_value).to_i %>
                    </label>
                  <% end %>


                  <select class="form-control" id="<%= q.id %>" name="questions[<%= q.id %>]">
                    <% q.answer_options.each do |ao| %>
                      <option value="<%= ao.id %>"><%= ao.value(:numeric_value).to_i %></option>
                    <% end %>
                  </select>
              <% end %>


            </div>
            </div>

          <% end %>
          <div class="list-group-item">
            <input type="submit" class="btn btn-lg btn-block">
          </div>
        </div>
      <% end %>
      </div>
    <div class="col-md-8">
      <div id="sleep-chart" class="chart">
        <svg></svg>
      </div>

      <div id="pap-chart" class="chart">
        <svg></svg>
      </div>


    </div>
  </div>

  <div class="col-md-10 col-sm-9 col-sm-offset-3 col-md-offset-2 main" id="research-qs" style="display: none;">
    <h3>What are some research questions that might interest you?</h3>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Place your vote below and help guide sleep apnea reasearch!</div>
      <!-- List group -->
      <div class="list-group research-questions">
        <% Group.find(1).questions.sort_by{|q| -q.rating }.each_with_index do |q, i| %>
          <div class="list-group-item">
            <div class="row" data-id="<%= q.id %>">
              <div class="col-md-2">
                <h3 class="pull-left"><%= i+1 %></h3>
                <div class="pull-right"><%= render partial: 'votes/rate_question', locals: {question: q, show_badge: true} %></div>
              </div>
              <div class="col-md-10"><h4 class="text-primary"><%= q.text %></h4></div>

            </div>
          </div>
        <% end %>
      </div>
      <div class="panel-body">
        <span class="help-block">Think something's missing from the list?</span>
        <div class="input-group input-group-lg">
          <input id="rq-text" class="form-control no-focus" placeholder="Enter a research question you've always wanted to ask." />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" data-submit-path="<%= add_to_rl_path %>" id="submit-rq">Submit!</button>
        </span>
        </div>
      </div>

    </div>
  </div>



  </div>
</div>


