<div class="page-header">
  <h1><%= t :faqs_title %></h1>
</div>


<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs category -->
    <ul class="nav nav-tabs faq-cat-tabs">
      <% @faq_data.each_key do |category| %>
        <li class="<%= 'active' if category == 'general' %>"><a href="#faq-cat-<%= category %>" data-toggle="tab"><%= category.titleize %></a></li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content faq-cat-content">
      <% faq_data.each_pair do |category, faqs| %>
        <div class="tab-pane <%= 'active' if category == 'general' %> in fade" id="faq-cat-<%= category %>">
          <div class="panel-group" id="accordion-cat-<%= category %>">
            <% faqs.each_with_index do |qa_hash, j| %>
              <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion-cat-<%= category %>" href="#faq-cat-<%= category %>-sub-<%= j %>">
                    <h4 class="panel-title">
                      <%= qa_hash['question'] %>
                      <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                    </h4>
                  </a>
                </div>
                <div id="faq-cat-<%= category %>-sub-<%= j %>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= markdown qa_hash['answer'] %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>







































  </div>
</div>

<%= render partial: 'layouts/join_bottom' %>
