<div id="splash">

  <section id="join">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @page_content['join']['title'] %></h1>
        <%= markdown @page_content['join']['content'] %>

        <div class="row">
          <div class="col-md-12 col-xs-12">
            <%= link_to @page_content['join']['button'], pledge_path, class: "btn btn-block btn-primary btn-lg", id: "join-btn-top", remote: false %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="research-questions">
    <h2>What are some research questions that might interest you?</h2>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Place your vote below and help guide sleep apnea reasearch!</div>
      <!-- List group -->
      <div class="list-group research-questions">
        <% Group.find(1).questions.sort_by{|q| -q.rating }.each_with_index do |q, i| %>
          <div class="list-group-item">
            <div class="row" data-id="<%= q.id %>">
              <div class="col-md-2">
                <h3 class="pull-left"><%= i+1 %></h3>
                <div class="pull-right"><%= render partial: 'votes/rate_question', locals: {question: q, show_badge: true} %></div>
              </div>
              <div class="col-md-10"><h4 class="text-primary"><%= q.text %></h4></div>

            </div>
          </div>
        <% end %>
      </div>
      <div class="panel-body">
        <span class="help-block">Think something's missing from the list?</span>
        <div class="input-group input-group-lg">
          <input id="rq-text" class="form-control no-focus" placeholder="Enter a research question you've always wanted to ask." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-submit-path="<%= add_to_rl_path %>" id="submit-rq">Submit!</button>
          </span>
        </div>
      </div>

    </div>


  </section>



  <div class="row">




    <div class="col-md-4 col-sm-6" id="main-video">
      <div class="aspect-box">
        <div class="aspect-content">
          <iframe src="//www.youtube.com/embed/4JkiWvWn2aU?html5=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <section id="perils">
        <h3><%= @page_content['why']['title'] %></h3>
        <%= markdown @page_content['why']['content'] %>
      </section>
    </div>

    <div class="col-md-4 visible-md visible-lg">
      <section id="goal">
        <div class="aspect-box">
          <div class="aspect-content">
            <div id="goal-chart">
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
  <section id="safe-easy">
    <div class="row">
      <div class="col-md-6">
        <h2><%= @page_content['safe']['title'] %></h2>
        <%= markdown @page_content['safe']['content'] %>
        <h2><%= @page_content['easy']['title'] %></h2>
        <%= markdown @page_content['easy']['content'] %>
      </div>

      <div class="col-md-6">
        <h3><%= @page_content['patient_power']['title'] %></h3>
        <%= markdown @page_content['patient_power']['content'] %>
      </div>
    </div>
  </section>

  <section id="make-difference">
    <div class="row hidden">
      <div class="col-md-9">
        <h3>"Patient Power"</h3>
        <p>MyApnea.org will bring together more people with sleep apnea to share, learn and contribute to research than has ever been tried before.  By joining our community, you can make a big difference in how you, and others like us, live everyday and sleep every night. </p>
        <p>You will also have a choice to weigh in on what questions you most want answered about sleep apnea.  And we will report back on all interesting research findings, in language you don’t have to be a scientist to understand.</p>
      </div>
      <div class="col-md-3">
        <div class="thumbnail"><%= image_tag "pages/make-difference.jpg", class: 'hidden' %></div>
      </div>
    </div>
  </section>


  <section id="personal-stories">
    <div id="reason-carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <% @page_content['testimonials'].each_with_index do |testimonial, i| %>
          <li data-target="#reason-carousel" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
        <% end %>
      </ol>

      <div class="carousel-inner">
        <% @page_content['testimonials'].each_with_index do |testimonial, i| %>
          <div class="item <%= 'active' if i == 0 %>">
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail"><%= image_tag testimonial['image'] %></div>
              </div>
              <div class="col-md-6 col-md-offset-1">
                <div class="vertical-center">
                  <div class="cell">
                    <blockquote>
                      <p><%= testimonial['quote'] %></p>
                      <footer><cite><%= testimonial['name'] %></cite></footer>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#reason-carousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#reason-carousel" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  </section>
</div>

<%= render partial: 'layouts/join_bottom' %>
