<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="sign-in" class="panel panel-default">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>

            <div class="row" id="header">
              <div class="col-md-7"><h2 class="form-signin-heading"><%= t :sign_in_prompt %></h2></div>
              <div class="col-md-5"><small class="text-muted join-now pull-right"><%= t :not_signed_up %><%= link_to t(:join_button), pledge_path %></small></div>
            </div>

            <div class='form-group'>
              <label class="sr-only" for="exampleInputEmail2">Email address</label>
              <%= f.label :email, class: 'sr-only' %>
              <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: User.human_attribute_name(:email) %>
            </div>
            <div class='form-group'>
              <%= f.label :password, class: 'sr-only' %>
              <%= f.password_field :password, class: "form-control input-lg", placeholder: User.human_attribute_name(:password) %>
            </div>

            <div class="row">
              <% if false # devise_mapping.rememberable? %>
                <label class="checkbox col-md-7">
                  <div><%= f.check_box :remember_me %></div>
                  <%= t :remember_me %>
                </label>
              <% end %>

              <div class="col-md-5">
                <% if false #devise_mapping.recoverable? %>
                  <small class="forgot">
                    <%= link_to t(:forgot_password), new_user_password_path, class: 'pull-right' %>
                    <div class="clearfix"></div>
                  </small>
                <% end %>
              </div>



            </div>
            <div><%= f.submit t(:sign_in_button), class: "btn btn-lg btn-primary btn-block" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
