<%=
# Load data using json
# Generate Chart



%>

<div id="review">
<div class="page-header">
  <h1>Review of <strong><%= @question_flow.name %></strong>  Survey</h1>
  <div>
    <%= link_to dashboard_path, class: 'btn btn-md btn-default pull-left' do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Return to My Dashboard
    <% end %>
  </div>
  <div>

    <%= link_to '', class: 'btn btn-md btn-primary pull-right' do %>
      Start Next Survey <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>
  </div>
</div>

<div class="clearfix"></div>

<div class="row hidden" id="bmi">
  <div id="current" class="col-md-3">
    <h3>Your Current Body Mass Index</h3>
    <svg class="chart"></svg>
  </div>
  <div id="history" class="col-md-9">
    <h3>Your BMI Trends</h3>

  </div>
</div>


<div class="row"  id="ahi">
  <div id="ahi-graph" class="col-md-8">
    <h3>Effects of Weight Change on AHI</h3>

  </div>
  <div id="prediction" class="col-md-4">
    <h3>How might your AHI change?</h3>
    <div class="list-group">
      <div class="list-group-item">
        <div class="row">
          <div class="col-md-7"><h5>Your Current Weight:</h5></div>
          <div class="col-md-5"><h5 id="current-weight" data-weight="<%= @answer_session.get_answer(3).value %>"><%= @answer_session.get_answer(3).value%>&nbsp;<%= @answer_session.get_answer(3).question.unit.name %></h5></div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-md-7"><h5>Your Desired Weight:</h5></div>
          <div class="col-md-5"><div class="input-group input-group-sm"><input id="desired-weight" class="form-control"><span class="input-group-addon">pounds</span></div></div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-md-7"><h5>Possible AHI Change:</h5></div>
          <div class="col-md-5"><h5 id="predicted-change"></h5></div>
        </div>
      </div>


    </div>


  </div>

</div>
</div>