<footer class="container" id="footer">
  <div class="well">

    <div class="row">
      <div class="col-md-3">
        <div class="center-block">
          <ul class="">
            <li><%= link_to "About", page_path('about') %></li>
            <li><%= link_to "Team", page_path('team') %></li>
            <li><%= link_to "Network", page_path('network') %></li>
            <li><%= link_to "FAQs", page_path('faqs') %></li>
            <li><%= link_to "Privacy Policy", page_path('privacy') %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center-block">
          <h5 class="text-danger">Connect</h5>
          <ul>
            <li><%= link_to "SAPCON", "http://pfaawards.pcori.org/node/20/datavizwiz/detail/4344" %></li>
            <li><%= link_to "ASAA", "http://www.sleepapnea.org/" %></li>
            <li><%= link_to "Brigham & Women's Hospital", "http://www.brighamandwomens.org" %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="center-block">
        </div>
      </div>
      <div class="col-md-3">
        <div class="bottom-brand"><a href="/">My Apnea</a></div>

      </div>

    </div>

  </div>
</footer>
