<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".pi-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "My Apnea", root_path, class: "navbar-brand" %>
    </div>




    <div class="flash-messages">
      <%= render partial: "layouts/flash" %>
    </div>

    <nav class="collapse navbar-collapse pi-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Network", "" %></li>
        <li><%= link_to "Technology", "" %></li>
        <li><%= link_to "FAQs", "" %></li>
        <li><%= link_to "Team", "" %></li>
        <li><%= link_to "Log In", "" %></li>
      </ul>
    </nav>
  </div>
</header>