<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".myapnea-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= user_signed_in? ? dashboard_path : root_path %>" class="navbar-brand">
        <div id="main-brand">My Apnea</div>
        <div id="sub-brand">Sleep Apnea Patient Centered Outcomes Network</div>
      </a>
    </div>

    <nav class="collapse navbar-collapse myapnea-navbar-collapse" role="navigation">
      <% if flash.present? %>
        <p class="navbar-text">
          <span class="<%= flash_class(flash.keys.first) %>"><%= flash[flash.keys.first] %></span>
        </p>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(page_path('network')) %>"><%= link_to "Network", page_path('network') %></li>
        <li class="<%= 'active' if current_page?(page_path('faqs')) %>"><%= link_to "FAQs", page_path('faqs') %></li>
        <li class="<%= 'active' if current_page?(page_path('team')) %>"><%= link_to "Team", page_path('team') %></li>

        <% if user_signed_in? %>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>

        <li id="theme-switcher">
          <% if current_theme == "day_theme" %>
            <%= link_to(switch_theme_path(theme: 'night_theme', format: :js), remote: true) do %>
              <i class="fa fa-moon-o"></i>
            <% end %>
          <% else %>
            <%= link_to(switch_theme_path(theme: 'day_theme', format: :js), remote: true) do %>
              <i class="fa fa-sun-o"></i>
            <% end %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>