<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".myapnea-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "My Apnea", root_path, class: "navbar-brand" %>
    </div>

    <nav class="collapse navbar-collapse myapnea-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(page_path('network')) %>"><%= link_to "Network", page_path('network') %></li>
        <li class="<%= 'active' if current_page?(page_path('technology')) %>"><%= link_to "Technology", page_path('technology') %></li>
        <li class="<%= 'active' if current_page?(page_path('faqs')) %>"><%= link_to "FAQs", page_path('faqs') %></li>
        <li class="<%= 'active' if current_page?(page_path('team')) %>"><%= link_to "Team", page_path('team') %></li>

        <% if user_signed_in? %>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
        <li id="theme-switcher">
          <% if current_theme == "day_theme" %>
            <%= link_to icon("moon-o"), switch_theme_path(theme: 'night_theme'), remote: true %>
          <% else %>
            <%= link_to icon("sun-o"), switch_theme_path(theme: 'day_theme'), remote: true %>
          <% end %>
        </li>
      </ul>


    </nav>
  </div>
</header>