<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container hidden">
    <div id="hld">
      <div id='locale-chooser'>
        <%= link_to "en", {locale: :en}, class: ('active' if I18n.locale==:en)  %>
        <%= link_to "es", {locale: :es}, class: ('active' if I18n.locale==:es) %>
        <%= link_to "pl", {locale: :pl}, class: ('active' if I18n.locale==:pl)  %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".myapnea-navbar-collapse">
        <span class="sr-only"><%= t 'menu.sr_toggle' %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= user_signed_in? ? dashboard_path : root_path %>" class="navbar-brand">
        <div id="main-brand"><%= t :main_brand %></div>
        <div id="sub-brand"><%= t :sub_brand %></div>
      </a>
    </div>

    <nav class="collapse navbar-collapse myapnea-navbar-collapse" role="navigation">

      <ul class="nav navbar-nav navbar-right">
        <% if flash.present? %>
          <p class="navbar-text">
            <span class="<%= flash_class(flash.keys.first) %>"><%= flash[flash.keys.first] %></span>
          </p>
        <% end %>

        <li class="hidden <%= 'active' if current_page?(network_path) %>"><%= link_to t(:network), network_path %></li>
        <li class="hidden <%= 'active' if current_page?(faqs_path) %>"><%= link_to t(:faqs), faqs_path %></li>
        <li class="hidden <%= 'active' if current_page?(team_path) %>"><%= link_to t(:team), team_path %></li>

        <% if user_signed_in? %>
          <li><%= link_to t(:log_out), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t(:log_in), new_user_session_path %></li>
        <% end %>

        <li id="theme-switcher">
          <% if current_theme == "day_theme" %>
            <%= link_to(switch_theme_path(theme: 'night_theme', format: :js), remote: true) do %>
              <i class="fa fa-moon-o"></i>
            <% end %>
          <% else %>
            <%= link_to(switch_theme_path(theme: 'day_theme', format: :js), remote: true) do %>
              <i class="fa fa-sun-o"></i>
            <% end %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
