<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= "MyApnea.Org" %></title>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    current_theme, media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media:'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//code.highcharts.com/highcharts.js', 'data-turbolinks-track' => true %>

  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

</head>
<body>


<%= render partial: 'layouts/menu' %>
<%= render partial: "layouts/flash" %>

<div class="container main-container">
  <%= yield %>
</div>
<%= render partial: 'layouts/footer' %>

</body>
</html>